@tailwind components;
@tailwind utilities;
@tailwind base;
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap') @tailwind base;
@layer base {
    html {
        font-family: 'Press Start 2P';
    }
}

.hhee {
    animation-name: animatetop;
    animation-duration: 0.2s;
}

@keyframes animatetop {
    from {
        top: -12rem;
        opacity: 0;
    }
    to {
        top: 33%;
        opacity: 1;
    }
}